{% extends "global_base.html" %}

{% block content %}
<div class="mt-4 row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <div class="col col-12">
        <div class="card" style="width: 100%;">
            <div class="card-header">
                Blog
            </div>
            <div class="card-body">
                <p class="card-text">A space for sharing technical secrets and random thoughts.</p>
            </div>
            <div class="card-body">
                <a href="/blog/" class="card-link">Go to the Blog</a>
            </div>
        </div>
    </div>
</div>

<div class="mt-4 row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <div class="col">
        <h4 class="text-muted">Development Tools</h4>
    </div>

</div>
<div class="mt-4 row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <div class="col mb-2">
        <div class="card" style="width: 100%; height: 100%;">
            <div class="card-header">
                DNS Tool
            </div>
            <div class="card-body" style="min-height: 40%;">
                <p class="card-text">Query popular Domain Name Resolution (DNS) servers for checking DNS propagation.</p>
            </div>
            <div class="card-body">
                <a href="/development/dns/" class="card-link">Go to Tool</a>
            </div>
        </div>
    </div>
    <div class="col mb-2">
        <div class="card" style="width: 100%; height: 100%;">
            <div class="card-header">
                Virus Tool
            </div>
            <div class="card-body" style="min-height: 40%;">
                <p class="card-text">Check MD5 hashes aginst the VirusShare public hash lists.</p>
            </div>
            <div class="card-body">
                <a href="/development/virus/" class="card-link">Go to Tool</a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 100%; height: 100%;">
        <div class="card-header">
            xml2json Tool
        </div>
        <div class="card-body" style="min-height: 40%;">
            <p class="card-text">Convert a XML document into easily parsable JSON, without loosing metadata.</p>
        </div>
        <div class="card-body">
            <a href="/development/xml2json/" class="card-link">Go to Tool</a>
        </div>
    </div>
    <div class="col"></div>
    <div class="col"></div>
</div>
{% endblock %}