{% extends "global_base.html" %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/development/">Development Tools</a></li>
        <li class="breadcrumb-item active" aria-current="page">MD5 Virus Checker Tool</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="mt-4 row row-cols-1 row-cols-sm-1 row-cols-md-3">
    <div class="col"></div>
    <div class="col">
        <div class="card" style="width: 100%;">
            <div class="card-header">
                MD5 Virus Checker Tool
            </div>
            <div class="card-body">
                <div class="alert alert-warning" role="alert">
                    This tools uses the publically availiable Virus Hashes provided by VirusShare.com. This tool is deisgned as a proof of concept and should not be used for serious virus detection.
                </div>
                <form action="/development/virus/" method="GET" class="needs-validation" novalidate>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="domain-name-image">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-hash" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M8.39 12.648a1.32 1.32 0 0 0-.015.18c0 .305.21.508.5.508.266 0 .492-.172.555-.477l.554-2.703h1.204c.421 0 .617-.234.617-.547 0-.312-.188-.53-.617-.53h-.985l.516-2.524h1.265c.43 0 .618-.227.618-.547 0-.313-.188-.524-.618-.524h-1.046l.476-2.304a1.06 1.06 0 0 0 .016-.164.51.51 0 0 0-.516-.516.54.54 0 0 0-.539.43l-.523 2.554H7.617l.477-2.304c.008-.04.015-.118.015-.164a.512.512 0 0 0-.523-.516.539.539 0 0 0-.531.43L6.53 5.484H5.414c-.43 0-.617.22-.617.532 0 .312.187.539.617.539h.906l-.515 2.523H4.609c-.421 0-.609.219-.609.531 0 .313.188.547.61.547h.976l-.516 2.492c-.008.04-.015.125-.015.18 0 .305.21.508.5.508.265 0 .492-.172.554-.477l.555-2.703h2.242l-.515 2.492zm-1-6.109h2.266l-.515 2.563H6.859l.532-2.563z" />
                                </svg>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="MD5 Hash..."
                            aria-label="Input for MD5 Hash" aria-describedby="hash_input" name="hash" required
                            {% if args %}value="{{ args['hash'] }}" {% endif %} pattern="[A-Fa-f0-9]{32}">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid MD5 hash.
                        </div>
                    </div>
                    <small id="hash-help" class="form-text text-muted mb-3">
                        All MD5 hashes are 32 characters of Hexadecimal (0-9 A-F). This field is not case sensitive.
                    </small>
                    <input type="submit" class="btn btn-primary btn-md btn-block mt-2" value="Submit">
                </form>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>

{% if result %}
<div class="mt-4 row row-cols-1 row-cols-sm-1 row-cols-md-3">
    <div class="col"></div>
    <div class="col">
        {% if result != "No Data Found" %}
        <div class="card alert-danger border-danger" style="width: 100%;">
            <div class="card-header border-danger">
                Match Found in Virus Hash Database 
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col col-3"><strong>Hash</strong></div>
                        <div class="col">{{ result["hash"] }}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col col-3"><strong>Total Visits</strong></div>
                        <div class="col">{{ result["total_checked"] }}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col col-3"><strong>Date Added</strong></div>
                        <div class="col">{{ result["added"].strftime("%Y-%m-%d") }}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col col-3"><strong>Authors</strong></div>
                        <div class="col">{{ ", ".join(result["file_meta"]["authors"]) }}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col col-3"><strong>Imported From</strong></div>
                        <div class="col"><a href="{{ result['file_meta']['download_location'] }}" target="_blank">{{ result["file_meta"]["filename"] }}</a></div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col col-3"><strong>Virus Found In</strong></div>
                        <div class="col">{{ result["file_meta"]["hashes_for"] }}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col col-3"><strong>VirusTotal Detection</strong></div>
                        <div class="col"><a href="https://www.virustotal.com/gui/file/{{ result['hash'] }}/detection" target="_blank">Go To VirusTotal</a></div>
                    </div>
                </li>
            </ul>
            <div class="card-body">
                {{ result["file_meta"]["credit"] }}.
                <br>
                <br>
                This site is not affiliated with VirusTotal or VirusShare. I use their services and find them very cool. This is a programming exercise, so I would suggest using these services instead. 
            </div>
        </div>
        {% else %}
        <div class="card alert-success border-success" style="width: 100%;">
            <div class="card-header border-success">
                No Match in Virus Hash Database
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    This tool could not find a match in our database.
                </li>
                <li class="list-group-item">
                    This does not mean that your file is safe. It is reccommended that you upload the file to <a href="https://virustotal.com" target="_blank">VirusTotal</a> or scan your file with your AntiVirus and AntiMalware before opening it.
                </li>
            </ul>
            <div class="card-body">
                This site is not affiliated with VirusTotal or VirusShare. I use their services and find them very cool. This is a programming exercise, so I would suggest using these services instead. 
            </div>
        </div>
        
        {% endif %}
    </div>
    <div class="col"></div>
</div>
{% endif %}

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{% endblock %}