<!DOCTYPE html>
<html lang="en">

<head>
    <title>Limb Tips</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="icon" type="image/ico" href="/static/favicon.ico">
    {% block custom_stylesheets %}{% endblock %}
</head>

<body style="background-color: #f3f3f3;">
    <!-- Scripts so they are loaded for Custom JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Limb Tips {% if active_page == "home" %}<span
                class="sr-only">(current)</span>{% endif %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown {% if 'development' in active_page %}active{% endif %}">
                    <a class="nav-link dropdown-toggle" href="/development/" id="developmentTools" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Development Tools
                    </a>
                    <div class="dropdown-menu" aria-labelledby="developmentTools">
                        <a class="dropdown-item {% if 'development.dns' == active_page %}active{% endif %}"
                            href="/development/dns/">DNS Tool{% if 'development.dns' == active_page %}<span
                                class="sr-only">(current)</span>{% endif %}</a>
                        <a class="dropdown-item {% if 'development.xml2json' == active_page %}active{% endif %}"
                            href="/development/xml2json/">xml2json
                            Tool{% if 'development.xml2json' == active_page %}<span
                                class="sr-only">(current)</span>{% endif %}</a>
                    </div>
                </li>
                <li class="nav-item dropdown {% if 'charts' in active_page %}active{% endif %}">
                    <a class="nav-link dropdown-toggle" href="/charts/" id="chartTools" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Charts
                    </a>
                    <div class="dropdown-menu" aria-labelledby="chartTools">
                        <a class="dropdown-item {% if 'charts.sankey' == active_page %}active{% endif %}"
                            href="/charts/sankey/">Sankey{% if 'charts.sankey' == active_page %}<span
                                class="sr-only">(current)</span>{% endif %}</a>
                    </div>

                </li>
            </ul>
        </div>
    </nav>
    {% block breadcrumbs %}{% endblock %}

    <div class="container-fluid pb-5">
        {% block content %}{% endblock %}
    </div>

</body>

</html>