{% extends "global_base.html" %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Development Tools</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="mt-4 row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <div class="col">
        <div class="card" style="width: 100%;">
            <div class="card-header">
                DNS Tool
            </div>
            <div class="card-body">
                <p class="card-text">Query popular Domain Name Resolution (DNS) servers for checking DNS propagation.</p>
            </div>
            <div class="card-body">
                <a href="/dns/" class="card-link">Go to Tool</a>
            </div>
        </div>
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
</div>
{% endblock %}